<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ветеринарная аптека ВетЭксперт</title>
   <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
   <link rel="icon" href="{% static 'favicon.ico' %}" />

</head>
<body>
    <header>
        <h1>Ветеринарная аптека ВетЭксперт</h1>
        <nav>
            <p><a href="{% url 'main' %}">Главная</a></p>
            <p><a href="{% url 'register' %}">Регистрация</a></p>
            <p><a href="{% url 'login' %}">Вход</a></p>
             <a href="{% url 'logout' %}">Выход</a>
            <p><a href="{% url 'order_view' %}">Заказ</a></p>
            <p><a href="{% url 'product' %}">Товары</a></p>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
   <div class="footer">© 2024 ВетЭксперт</div>
</body>
</html>
